<%= form_for(@model, multipart: true) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" id="containerb">

  <div class="field">
    <%= f.label :firstname, "First Name" %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name" %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :heightfeet, "Height:" %> <%= f.select :heightfeet, (0..7).to_a, :label => "Feet" %>
    <%= f.label :heightinches, "Inches" %> <%= f.number_field :heightinches, :step => '0.25' %><br>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
   <div class="field">
    <%= f.label :age, "Age" %><br>
    <%= f.select :age, (1..90).to_a %>  
  </div>
  <div class="field">
    <%= f.label :shoesize, "Shoe Size" %><br>
    <%= f.select :shoesize, ((3..12).step(0.5)).to_a %>
  </div>
  <div class="field">
    <%= f.label :haircolor, "Hair Color" %><br>
    <%= f.select :haircolor, ["Black", "Brown", "White", "Grey", "Blonde", "Red"] %>
  </div>
  <div class="field">
    <%= f.label :eyes %><br>
    <%= f.select :eyes, ["Black", "Brown", "Green", "Grey", "Blue"] %>
  </div>
  <div class="field">
    <%= f.label :bust %><br>
    <%= f.number_field :bust, :step => '0.25'  %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.number_field :waist, :step => '0.25'  %>
  </div>
  <div class="field">
    <%= f.label :hips %><br>
    <%= f.number_field :hips %>
  </div>

  <% if admin_signed_in? %>

  <div class="field">
    <%= f.label :phonenumber, "Phone Number" %><br>
    <%= f.number_field :phonenumber %>
  </div>

  <% end %>
  
   <div class="field">
    <%= f.label :city, "City" %><br>
    <%= f.select :city, ["Karachi", "Lahore", "Islamabad", "Faisalabad", "Rawalpindi"] %>
  </div>
    <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

</div>

