
<div class="container" id="containerb">

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @client.logo.url(:square) %>
     <div>
      <%= @client.name %>, <%= @client.email %> 
    </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @client.projects.any? %>
      <p class="attn">Projects (<%= @client.projects.count %>)</p>
    <% @client.projects.each do |x| %>
  <ul>
    <li><%= link_to x.client.name, x.client %> | <%= x.description %> | Project ID: <%= x.id %> |<%= link_to "project details", client_project_path(@client, x), class: "btn btn-link linktext" %> |<%if admin_signed_in?%> <%= link_to "edit", edit_client_project_path(@client,x), class: "btn btn-link linktext" %><% end %><small> Created <%= time_ago_in_words(x.created_at) %> ago.</small></li> 
  </ul>
  <% end %>

      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>

<div>
  <% if admin_signed_in? %>
  <%= link_to "Create new project", new_client_project_path(@client), class: 'btn btn-default btn-sm linktext' %> <% end %>
  <%= link_to 'Back', :back, class: "btn btn-default btn-sm linktext" %>
</div>

</end>

