<li id="project-<%= project.id %>">

	<% @client.projects.each do |x| %>
	<ul>
		<li><%= link_to x.client.name, x.client %> | <%= x.description %> | <%= link_to "project details", client_project_path(@client, x), class: "btn btn-link linktext" %> | <%= link_to "add photos", new_photo_path(@client, x), class: "btn btn-link linktext" %>  | <small> Created <%= time_ago_in_words(x.created_at) %> ago.</small></li> 
	</ul>
	<% end %>
</div>
