<div class="container" id="containerb">

<br>

<p class="attn"> Create a new project for <%= @client.name %> </p>

</br>

<div>
<%= form_for ([@client, @project]) do |f| %>
<%= render 'shared/error_messages' %>

  <div> 
    <%= f.label :date, class: 'label1' %>
    <%= f.date_field :date, :value => Time.zone.now.to_date.strftime("%B %d, %Y"), :readonly => true, class: "borderless"  %>
  </div>
<br>

  <div> 
    <%= f.label :ctype, "Category", class: 'label1' %>
    <%= f.collection_select(:ctype, Ctype.all, :name, :name) %>
  </div>
<br>

  <div> 
    <%= f.label :location, class: 'label1' %>
    <%= f.collection_select(:location, Location.all, :name, :name) %>
  </div>
<br>

  <div> 
    <%= f.label :description, class: 'label1' %>
	  <%= f.text_area :description, size: "60x7", class: 'formalign' %>
	</div>
<br>

  <div> 
    <%= f.label :photographer, class: 'label1' %>
    <%= f.collection_select(:photographer, Photographer.all, :name, :name) %>
  </div>
<br>

  <div> 
    <%= f.label :status, class: 'label1' %>
    <%= f.collection_select(:status, Status.all, :name, :name) %>
  </div>
<br>

  <div> 
    <%= f.label :paymentstatus, "Payment Status", class: 'label1' %>
    <%= f.collection_select(:paymentstatus, Pstat.all, :name, :name) %>
  </div>
<br>
  <div><%= f.label :card, "Create card for portfolio?", class: 'label1' %>
       <%= f.check_box :card %>
     </div>
  <br>

<div>
    <%= f.submit "Create new project", class: "btn btn-success btn-sm" %>
    <%= link_to 'Back', :back, class: "btn btn-default btn-sm linktext" %>
</div>

    <% end %>

  </div>

</div>


