
<div class="container" id="containerb">

<p class="attn"> Add Photos</p>

<hr>
<br>

<div> Client Name: <%= @client.name %> </div>

<div> Project Description: <%= @project.description %> </div>

<div> Project ID: <%= @project.id %> </div>

<br>

<div>
<%= form_for ([@project, @photo]), :html => { multipart: true } do |f| %> 


<div>
    <%= f.label :asset, 'Project Photos', class: 'label1' %>

   <%= file_field(:photo, :asset, :multiple => true) %>
 
  </div>

  <br>

  <div>
     <%= f.submit "Add photos to project", class: "btn btn-success btn-sm" %> <div><em> Please ensure the total file size of all attachments does not exceed 4 MB</em></div>
     <%= link_to 'Back', :back, class: "btn btn-default btn-sm linktext" %>
 </div>

  <% end %>

</div>