<div class="container" id="containerb">


<% if admin_signed_in? %>

<div class="row">

	<div class="col-md-6">
	</br>
		<p class="attn"> Projects by Category </p>
		<%= pie_chart Project.group(:ctype).count %>
	
	</div>

	<div class="col-md-3">

		<div class="square" id="cone"> 
			<div class="consoleboxtitle"> Model Management </div>
		<ul class="consolebox">
		<li><%=link_to "View all models", models_path %> (<%= @models.count %>) </li>
		<li><%=link_to "Add new model", new_model_path%></li>
		<li><%=link_to "Models preview page", preview_path%></li>
		</ul>
		</div>

		<div class="square" id="ctwo"> 
		<div class="consoleboxtitle"> Photographer Management</div>
		<ul class="consolebox">
		<li><%=link_to "View all photographers", photographers_path %> (<%= @photographers.count %>) </li>
		<li><%=link_to "Add new photographer", new_photographer_path%></li>
		</ul>
		</div>

		<div class="square" id="cthree"> 
		<div class="consoleboxtitle">  Client Management </div>
		<ul class="consolebox">
		<li><%= link_to "View all clients",    clients_path %> (<%= @clients.count %>) </li>
		<li><%=link_to "Add new client", new_client_path%></li>
		</ul>
		</div>

		<div class="square" id="cfour"> 
		<div class="consoleboxtitle"> Category Management </div>
		<ul class="consolebox">
		<li><%=link_to "View all categories", ctypes_path %> (<%= @ctypes.count %>) </li>
		<li><%=link_to "Add new category", new_ctype_path %></li>
		</ul>
		</div>

	</div>

	<div class="col-md-3">

		<div class="square" id="cfive"> 
		<div class="consoleboxtitle"> Location Management </div>
		<ul class="consolebox">
		<li><%=link_to "View all locations", locations_path %> (<%= @locations.count %>) </li>
		<li><%=link_to "Add new location", new_location_path %></li>
		</ul>
		</div>

		<div class="square" id="csix"> 
		<div class="consoleboxtitle"> Project Status Management </div>
		<ul class="consolebox">
		<li><%=link_to "View all Statuses", statuses_path %> (<%= @statuses.count %>) </li>
		<li><%=link_to "Add new Status", new_status_path %></li>
		</ul>
		</div>

		<div class="square" id="cseven"> 
		<div class="consoleboxtitle"> Payment Status Management </div>
		<ul class="consolebox">
		<li><%=link_to "View all Payment Status options", pstats_path %> (<%= @pstat.count %>) </li>
		<li><%=link_to "Add new Payment Status", new_pstat_path %></li>
		</ul>
		</div>

		<div class="square" id="ceight"> 
		<div class="consoleboxtitle"> Showcase Management </div>
		<ul class="consolebox">
		<li><%=link_to "Feature on Home Page", projects_path %> </li>
		</ul>
		</div>

	</div>

</div>

</div> <!-- end container -->

<% end %>